extraArgs:
  - -I/include/etr_bits/
  - -I/include/etr_bits/Derivatives
  - -I/include/etr_bits/Core
  - -I/include/etr_bits/Allocation
  - -I/include/etr_bits/Vector
  - std=c++20
  - -DSTANDALONE_ETR
  # Add additional include paths as needed

